a:hover {
    color:aquamarine;
}

a{    
   font-size: 25px; 
   font-family: cursive;
   text-decoration: none;
}

/*
body{
   background-image: url("");
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;  
}
*/
/*
h1{
    color:black;
    text-align: left;
    font-size: 50px;
    font-family: cursive;
    padding: 15px;
}
*/

.box img{
    border: 1px solid black;
    border-radius: 25px;
    height: 250px;
    width: 300;
    padding: 5px;
    margin: 10px;
}

.box input{
    position: relative;
    width: 90px;
    height: 50px;
}

.box label{
    font-size: 20px;
    font-family: cursive;
}

.box h2{
    background-color: wheat;
    border: 1px solid black;
    padding: 15px;  
    text-align: left;
    font-size: 40px;
    font-family: cursive;
    border-radius: 50px;
    height: 50px 50px;
    width: 400px;
    text-align: center;    
}


#chuck_taylor:checked ~ #imagenes .chuck_70, 
#chuck_taylor:checked ~ #imagenes .impermeable{
    display: none;
}

#chuck_70:checked ~ #imagenes .chuck_taylor, 
#chuck_70:checked ~ #imagenes .impermeable{
    display: none;
}

#impermeable:checked ~ #imagenes .chuck_70, 
#impermeable:checked ~ #imagenes .chuck_taylor{
    display: none;
}

#cami_mujer:checked ~ #imagenes .pan_mujer, 
#cami_mujer:checked ~ #imagenes .mochi_mujer{
    display: none;
}

#pan_mujer:checked ~ #imagenes .cami_mujer, 
#pan_mujer:checked ~ #imagenes .mochi_mujer{
    display: none;
}

#mochi_mujer:checked ~ #imagenes .pan_mujer, 
#mochi_mujer:checked ~ #imagenes .cami_mujer{
    display: none;
}